@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --text-1: #353535;
  --text-2: #585858;
  --text-3: #808080;
  --card-fill: #fafafa;
  --container-fill: #f7f7f7;
  --sub-container-fill: #f1f1f1;
  --grad-1: linear-gradient(289.93deg, #d64f8a 12.45%, #ff7a7a 87.59%);
  --grad-2: linear-gradient(300.12deg, #e96666 21.08%, #e98d66 84.76%);
  --large-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  --small-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  display: none;
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #cacaca;
  border: 6px solid #fff;
}