.container {
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentWrapper .featured, .contentWrapper .feed{
  display: flex;
  flex-direction: column;
  padding: 3em;
}
.featured .title, .feed .title {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 0;
}
.featured .grid, .feed .grid {
  margin-top: 2em;
  display: inline-grid;
  width: 100%;
	column-gap: 1.5em;
  row-gap: 3em;
}


.contentWrapper .feed {
  padding-top: 1em;
}
.feed .filters {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-bottom: 1em;
}
.feed .filters div {
  cursor: pointer;
  padding: 0 1em;
  display: flex;
  align-items: center;
  border-radius: 10em;
  transition: 0.2s ease-in-out;
}
.feed .filters .active {
  background: var(--sub-container-fill);
}